.form {

	&.is-page-form {
		width: 300px;
		margin: 0 auto 30px;
	}
}

.form_line {
	margin-bottom: 15px;
}

.form_end {
	text-align: center;
	margin-top: 30px;
}

.form_message {
	background-color: #ececed;
	border-radius: 6px;
	padding: 10px 9px 8px;
	margin: 10px 10px 10px 15px;
}

.form-message_wrap {
	position: relative;
}

.form_label {
	display: block;
	font-size: 12px;
	color: $nav-link;
    font-weight: 400;
    margin-bottom: 4px;
}

.form_field {
	size: 100% 32px;
	border: 2px solid #e5e5e5;
	box-shadow: inset 0 1px 2px 0 #e5e5e5.3;
	border-radius: 2px;
	text-indent: 12px;
	font: 400 12px $sans-serif;
	color: #000;
	background-color: #fff;
	outline: none;
	transition: border-color 300ms ease;

	&:focus {
		border-color: $color-active;
	}

	&.is-textarea {
		min-height: 150px;
		text-indent: 0;
		padding: 5px 12px;
	    resize: vertical;
	}

	&.is-textarea-message {
		border-radius: 6px;
		min-height: 40px;
		padding: 9px 130px 0 0;
		font-size: 14px;
		box-sizing: border-box;
	    resize: vertical;
	}

	&.is-text-message {
		border-radius: 6px;
		font-size: 14px;
		padding-right: 100px;
		height: 40px;
	}

	&.is-half {
		width: 46.6%;

		&:first-child {
			margin-right: 20px;
		}
	}

	&.is-table-width {
		max-width: 100px;
	}
}

.form_select {
	size: 100% 32px;
	border: 2px solid #e5e5e5;
	outline: none;
	transition: border-color 300ms ease;

	&:focus {
		border-color: $color-active;
	}

	&.is-half {
		width: 46.6%;

		&:first-child {
			margin-right: 20px;
		}
	}
}

.form_btn {
	font: 400 14px $sans-serif;
	padding: 0 25px;
	height: 40px;
	background-color: $bg-main;
	color: #fff;
	border: 0;
	transition: background-color 300ms ease;

	&:hover {
		background-color: $bg-main.9;
	}

	&.is-solo {
		border-radius: 6px;
	}

	&.is-united {
		border-radius: 0 6px 6px 0;
		position: absolute;
		right: 0;
	}

	&.is-reset {
		opacity: .4;
		margin-right: 20px;
	}
}