.form {

	&.is-page-form {
		width: 450px;
		margin: 0 auto 30px;
	}
}

.form_line {
	margin-bottom: 15px;
}

.form_end {
	text-align: center;
	margin-top: 30px;
}

.form_message {
	background-color: #ececed;
	border-radius: 6px;
	padding: 10px 9px 8px;
	margin: 10px 10px 10px 15px;
}

.form-message_wrap {
	position: relative;
}

.form_label {
	display: block;
	font-size: 12px;
	color: $nav-link;
    font-weight: 400;
    margin-bottom: 4px;
}

.form_field {
	size: 100% 32px;
	border: 2px solid #e5e5e5;
	box-shadow: inset 0 1px 2px 0 #e5e5e5.3;
	border-radius: 2px;
	text-indent: 12px;
	font: 400 12px $sans-serif;
	color: #000;
	background-color: #fff;
	outline: none;
	transition: border-color 300ms ease;

	&:focus {
		border-color: $color-active;
	}

	&::placeholder {
		font: 400 12px $sans-serif;
	}

	&.is-textarea {
		min-height: 150px;
		text-indent: 0;
		padding: 5px 12px;
	    resize: vertical;
	}

	&.is-textarea-message {
		border-radius: 6px;
		min-height: 40px;
		padding: 9px 130px 0 0;
		font-size: 14px;
		box-sizing: border-box;
	    resize: vertical;
	}

	&.is-text-message {
		border-radius: 6px;
		font-size: 14px;
		padding-right: 100px;
		height: 40px;
	}

	&.is-half {
		width: 46.6%;

		&:first-child {
			margin-right: 20px;
		}
	}

	&.is-list-width {
		width: 200px;
	}
}

.form_select {
	size: 100% 32px;
	border: 2px solid #e5e5e5;
	outline: none;
	transition: border-color 300ms ease;

	&:focus {
		border-color: $color-active;
	}

	&.is-half {
		width: 46.6%;

		&:first-child {
			margin-right: 20px;
		}
	}
}

.form_btn {
	font: 400 14px $sans-serif;
	padding: 0 25px;
	height: 40px;
	background-color: $bg-main;
	color: #fff;
	border: 0;
	border-radius: 6px;
	transition: background-color 300ms ease;

	&:hover {
		background-color: $bg-main.9;
	}

	&.is-united {
		border-radius: 0 6px 6px 0;
		position: absolute;
		right: 0;
	}

	&.is-reset {
		opacity: .4;
		margin-right: 20px;
	}
}

.form_list {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	width: 40%;
}

.form-list_item {
	margin-bottom: 10px;
	white-space: nowrap;
}

.form-list_text {
	display: inline-block;
	vertical-align: middle;
	width: 127px;
	padding-right: 10px;
	line-height: 1;

	& + strong {
		display: inline-block;
		vertical-align: middle;
	}
}


// select2 restyling

.js-select {
	width: 200px;
}

.select2-container--default .select2-selection--single {
	border: 2px solid #e5e5e5;
	box-shadow: inset 0 1px 2px 0 #e5e5e5.3;
	border-radius: 2px;
	text-indent: 5px;
	height: 32px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
	border: 2px solid #e5e5e5;
	box-shadow: inset 0 1px 2px 0 #e5e5e5.3;
	border-radius: 2px;
	font: 400 12px $sans-serif;
	color: #000;
	background-color: #fff;
	outline: none;
	transition: border-color 300ms ease;

	&:focus {
		border-color: $color-active;
	}
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 29px;
}

.select2-dropdown {
	border: 2px solid #e5e5e5;
	font: 400 12px $sans-serif;
}

.select2-results__option {
	font: 400 12px $sans-serif;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 30px;
}









