.actions_list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 0;
	background-color: #fff;
	size: 100% 60px;
	text-align: center;
}

.actions_item {
	display: inline-block;
	font-size: 16px;
	height: 100%;
	padding: 5px 15px 0;
	opacity: .9;
	cursor: pointer;
	transition: background-color 300ms ease;

	&:hover,
	&.is-active {
		background-color: $bg-main;
		opacity: 1;

		.actions_text {
			color: #fff;
		}

		.i-coins {
			@mixin icon i-coins-hov, 25px;
		}
		.i-values {
			@mixin icon i-values-hov, 25px;
		}

		.i-driver {
			@mixin icon i-driver-hov, 25px;
		}

		.i-wannabuy {
			@mixin icon i-wannabuy-hov, 25px;
		}

		.i-onetime {
			@mixin icon i-onetime-hov, 25px;
		}
	}
}

.actions_link {
	display: block;
	size: 100%;
	text-decoration: none;
}

.actions_text {
	color: #666;
	transition: color 300ms ease;
}

.actions_icon {
	display: block;
	margin: 0 auto 5px;

	&.i-coins {
		@mixin icon i-coins, 25px;
	}

	&.i-values {
		@mixin icon i-values, 25px;
	}

	&.i-driver {
		@mixin icon i-driver, 25px;
	}

	&.i-wannabuy {
		@mixin icon i-wannabuy, 25px;
	}

	&.i-onetime {
		@mixin icon i-onetime, 25px;
	}
}


/* Tabs */
.actions_content {
	padding-top: 13px;
	background-color: $bg-main.9;
}

.actions_viewport {
	padding: 30px 0 80px;
	width: 940px;
	overflow: hidden;
	position: relative;
	height: 840px;
}

.actions_overview {
	position: absolute;
	width: 940px;
	left: 0;
	top: 0;
	clear: fix;
}

.actions {
	float: left;
	width: 940px;
}

.actions_menu {
	clear: fix;
	margin: 0 0 15px;

}
.actions_types {
	border: 1px solid #fff;
	border-radius: 4px;
	font-size: 0;
	float: right;
}

.actions-type {
	display: inline-block;
	font-size: 12px;
	color: #fff;
	text-decoration: none;
	padding: 3px 5px;

	&.active {
		background-color: #fff;
		color: $bg-main;

		.i-cube {
			@mixin icon i-cube-act, 12px;
		}

		.i-list {
			@mixin icon i-list-act, 12px;
		}
	}
}

.actions-type_icon {
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;

	&.i-cube {
		@mixin icon i-cube, 12px;
	}

	&.i-list {
		@mixin icon i-list, 12px;
	}
}

.actions-type_text {
	display: inline-block;
	vertical-align: middle;
}

.actions_grid {
	max-width: 800px;
	margin: 0 auto 35px;
	position: relative;
	text-align: left;
	clear: fix;
}

.grid-item {
  float: left;
}

.action-game_link {
	text-decoration: none;
	display: block;
	position: relative;
	size: 100%;
	line-height: 0;

	&:hover {
		.action-game_info {
			opacity: 1;
		}
	}
}

.action-game_info {
	opacity: 0;
	position: absolute;
	size: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: #000.42;
	padding: 35px 20px 0;
	text-align: left;
	transition: opacity 300ms ease;
}

.action-game_title {
	color: #fff;
	font: 300 26px/40px $sans-serif;
}

.actions.is-cubes {
	text-align: center;
}

.action_columns {
	column-count: 2;
    column-gap: 20px;
}

.action_list-letter {
	clear: fix;
}

.action_letter {
	float: left;
	margin-right: 20px;
}

.action_table {
	float: left;
	color: #fff;
    width: 87%;
    table-layout: fixed;

	td, th {
		height: 40px;
		border-bottom: 1px solid #fff;
	}
	td {
		text-align: right;
		font-weight: 300;
	}
	th {
		font-weight: 400;
		font-size: 16px;
		text-align: left;
	}
}

.action-letter_letter {
	border: 1px solid #fff;
	border-radius: 1px;
	display: inline-block;
	size: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 18px;
	color: #fff;
}