/* Tabs */
.actions_content {
	padding-top: 13px;
	background-color: $bg-main.9;
}

.actions_viewport {
	padding: 30px 0 80px;
	position: relative;
}

.actions {
	display: none;

	&.is-active {
		display: block;
	}
}

.actions_menu {
	clear: fix;
	margin: 0 0 15px;

}
.actions_types {
	border: 1px solid #fff;
	border-radius: 4px;
	font-size: 0;
	float: right;
	margin-right: 40px;
}

.actions-type {
	display: inline-block;
	font-size: 12px;
	color: #fff;
	text-decoration: none;
	padding: 1px 5px 3px;

	&.is-active {
		background-color: #fff;
		color: $bg-main;

		.i-cube {
			@mixin icon i-cube-act, 12px;
		}

		.i-list {
			@mixin icon i-list-act, 12px;
		}
	}
}

.actions-type_icon {
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;

	&.i-cube {
		@mixin icon i-cube, 12px;
	}

	&.i-list {
		@mixin icon i-list, 12px;
	}
}

.actions-type_text {
	display: inline-block;
	vertical-align: middle;
}

.actions_grid {
	max-width: 860px;
	margin: 0 auto 35px;
	position: relative;
	text-align: left;
	clear: fix;
}

.grid-item {
  float: left;
}
.grid-sizer,
.grid-item {
	width: 33.3%;
}

.action-game_link {
	text-decoration: none;
	display: block;
	position: relative;
	size: 100%;
	line-height: 0;

	&:hover {
		.action-game_info {
			opacity: 1;
		}
	}
}

.action-game_info {
	opacity: 0;
	position: absolute;
	size: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: #000.42;
	padding: 35px 20px 0;
	text-align: left;
	transition: opacity 300ms ease;
    box-shadow: 2px 3.464px 25px 0px rgba(0, 0, 0, 1);
}

.action-game_title {
	color: #fff;
	font: 300 26px/40px $sans-serif;
}

.action-game_pic {
	size: 100% auto;
	max-width: 100%;
}

.actions.is-cubes {
	text-align: center;
}

.action_columns {
	column-count: 2;
    column-gap: 20px;
}

.action_list-letter {
	clear: fix;
}

.action_letter {
	float: left;
	margin-right: 20px;
}

.action_table {
	float: left;
	color: #fff;
    width: 87%;
    table-layout: fixed;

	td, th {
		height: 40px;
		border-bottom: 1px solid #fff;
	}
	td {
		text-align: right;
		font-weight: 300;
	}
	th {
		font-weight: 400;
		font-size: 16px;
		text-align: left;
	}
}

.action-letter_letter {
	border: 1px solid #fff;
	border-radius: 1px;
	display: inline-block;
	size: 30px;
	text-align: center;
	line-height: 27px;
	font-size: 18px;
	color: #fff;
}