.guaranties {
	padding: 0;
	margin: 0 30px 30px;
	list-style: none;
	display: flex;
	justify-content: center;
}

.guaranties_item {
	position: relative;
	font-size: 12px;
	padding: 0 10px 20px;
	margin: 0 10px;
	width: 25%;
	text-align: center;
	color: #363636;

	&:after {
        content: '';
        width: 100px;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -50px;
        border-bottom: 1px solid #363636;
    	transition: border-bottom-color 150ms ease;
    }

    &:hover {

    	&:after {
			border-bottom-color: $color-active;
		}

		.guaranties_img {
			background-color: $color-active;
		}

		.guaranties_title {
			color: $color-active;
		}

		.guaranties_text {
			opacity: 1;
		}
    }

    &.is-framed {
    	background-color: #fff;
    	padding-bottom: 40px;
    	margin-top: 50px;

    	&:after {
			bottom: 20px;
    	}
    }
}

.guaranties_img {
	border-radius: 50%;
	background-color: $nav-link;
	size: 60px;
	margin: 0 auto 20px;
	text-align: center;
	line-height: 81px;
    transition: background-color 150ms ease;

	.is-framed & {
		margin-top: -30px;
	}
}

.guaranties_title {
	font-size: 18px;
	margin-bottom: 15px;
    transition: color 150ms ease;
}

.guaranties_text {
	opacity: .7;
    transition: opacity 150ms ease;
}

.i-fast {
	display: inline-block;
	@mixin icon i-fast, 28px;
}

.i-useful {
	display: inline-block;
	@mixin icon i-useful, 28px;
}

.i-choise {
	display: inline-block;
	@mixin icon i-choise, 28px;
}

.i-safesystem {
	display: inline-block;
	@mixin icon i-safesystem, 28px;
}