.header {
	height: 100px;
}

.header-content {
	size: 80% 100%;
    min-width: 900px;
    max-width: 1400px;
	margin: 0 auto;
	text-align: center;
	font-size: 0;
	line-height: 100px;
}

.header_center {
	width: 310px;
	display: inline-block;
	font-size: 14px;
	vertical-align: middle;
}

.header_left {
	width: 280px;
	text-align: right;
	display: inline-block;
	font-size: 14px;
	vertical-align: middle;
}

.header_right {
	width: 280px;
	display: inline-block;
	font-size: 14px;
	vertical-align: middle;
	text-align: left;
}