.messages  {
	display: flex;
	size: 100%;
}

.messages-all {
	width: 300px;
	background-color: #F7F7F7;
}

.messages-body {
	height: 600px;
	overflow-y: auto;
}

.chat {
	flex: 1;
    align-self: flex-end;
	background-color: #fff;
	padding-bottom: 15px;

	&.is-only {
		width: 80%;
		margin: 0 auto;
		padding-bottom: 0;
	}
}

.chat-content_read {
	height: 500px;
	overflow-y: auto;
}

.chat-content_read-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    min-height: 100%;
}

.chat-content_load {
	height: 55px;
}

.chat-content-load_link {
	display: block;
	text-decoration: none;
	size: 100%;
	text-align: center;
	line-height: 55px;
	color: $nav-link;
	background-color: #f9f9f9;
	opacity: .7;
	transition: opacity 300ms ease;

	&:hover {
		opacity: 1;
	}
}

.chat-actions {
	text-align: center;
}

.chat-actions_link {
	text-decoration: none;
}

.chat-actions_icon {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;

	&.is-blacklist {
		@mixin pic i-blacklist;
	}
}

.chat-actions_text {
	color: #e1e1e1;
	display: inline-block;
	vertical-align: middle;
	border-bottom: 1px solid;
	transition: border-color 300ms ease;

	.chat-actions_link:hover & {
		border-color: transparent;
	}
}