.nav-menu_list {
	list-style-type: none;
	padding: 0;
	margin: 0;

	.nav_item & {
		will-change: opacity, transform;
		transform: scaleY(0);
		opacity: 0;
		position: absolute;
	    top: 49px;
	    left: -62px;
		background-color: #333234;
		z-index: 99;
		border-radius: 3px;
		transition: opacity 700ms ease,
					transform 300ms ease;

		&:before {
			content: '';
			position: absolute;
		    border-right: 6px solid transparent;
		    border-left: 6px solid transparent;
		    border-bottom: 8px solid #333234;
		    width: 0;
		    height: 0;
		    top: -8px;
		    left: 50%;
		    margin-left: -6px;
		}
	}

	.nav_item:hover > &,
	&:hover {
		transform: scaleY(1);
		opacity: 1;
		transition: opacity 600ms ease;
	}
}

.nav-menu_item {
	.footer-col_nav & {
		margin-bottom: 10px;
	}
}

.nav-menu_link {
	display: block;
	text-decoration: none;
	color: #fff;
	transition: color 300ms ease;

	.footer-col_nav & {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 11px;

		&:hover,
		.is-active & {
			color: $color-active;
		}

	}

	.nav_item & {
		width: 170px;
		opacity: .7;
		line-height: 1.2;
		font-weight: 400;
		font-size: 14px;
		padding: 12px 20px 12px 30px;
		text-transform: none;
		position: relative;
		transition: background-color 300ms ease,
					opacity 300ms ease;

		&:hover {
			background-color: #3d3c3e;
			opacity: 1;
		}
	}
}
