.nav-menu_list {
	list-style-type: none;
	padding: 0;
	margin: 0;

	.nav_item & {
		display: none;
		position: absolute;
	    top: 49px;
	    left: -62px;
		background-color: #333234;
		z-index: 99;
		padding: 20px 0 0;
		border-radius: 3px;

		&:before {
			content: '';
			position: absolute;
		    border-right: 6px solid transparent;
		    border-left: 6px solid transparent;
		    border-bottom: 8px solid #333234;
		    width: 0;
		    height: 0;
		    top: -8px;
		    left: 50%;
		    margin-left: -6px;
		}
	}

	.nav_item:hover > &,
	&:hover {
		display: block;
	}
}

.nav-menu_item {
	margin-bottom: 7px;
}

.nav-menu_link {
	text-decoration: none;
	color: #fff;
	transition: color 300ms ease;

	.footer-col_nav & {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 11px;

		&:hover,
		.is-active & {
			color: $color-active;
		}

	}

	.nav_item & {
		display: block;
		size: 170px 40px;
		line-height: 37px;
		opacity: .7;
		font-weight: 400;
		font-size: 14px;
		padding: 0 20px 0 30px;
		text-transform: none;
		position: relative;
		transition: background-color 300ms ease,
					opacity 300ms ease;

		&:hover {
			background-color: #3d3c3e;
			opacity: 1;
		}
	}
}

.nav-link_comm {
	color: #9f9f9f;
	font-size: 10px;
	position: absolute;
	bottom: 6px;
	left: 3px;
	line-height: 1;
	text-transform: none;
}