.nav {
	background-color: #fff;
	height: 40px;

	&.is-inner {
		height: 50px;
		box-shadow: 1px 1.732px 2px 0px rgba(0, 0, 0, 0.28);
		position: relative;
	}
}

.nav_list {
	size: 80% 100%;
    min-width: 900px;
    max-width: 1400px;
	margin: 0 auto;
	text-align: center;
	font-size: 0;
	padding: 0 30px;
	list-style: none;
	text-align: justify;

	&:after {
		content: '';
		display: inline-block;
		width: 100%;
	}
}

.nav_item {
	display: inline-block;
	font: 700 12px/40px $sans-serif;
	text-transform: uppercase;
	position: relative;

	.is-inner & {
		line-height: 50px;
	}
}

.nav_link {
	text-decoration: none;
	color: $nav-link;
	transition: color 300ms ease;

	&:hover,
	.is-active & {
		color: $color-active;
	}
}

.bubble {
	border-radius: 50%;
	background-color: $color-active;
	color: #fff;
	text-align: center;
	font-size: 10px;
	font-weight: 300;
	padding: 0 4px;
	margin-left: 2px;
}


