*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

.master {
    font: 300 12px $sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(255,255,255,0.5) 30%,rgba(255,255,255,0) 58%) $bg-main;
}

.main-content {
    flex: 1;
    display: flex;
    width: 80%;
    min-width: 900px;
    max-width: 1400px;
    margin: 0 auto;

    &.is-messages {
        size: 100%;
    }
}

.section_title {
    color: $nav-link;
    font-weight: 300;
    font-size: 26px;
    margin: 0 0 30px;
    text-align: center;

    &.is-profile {
        margin-bottom: 0;
    }

    &.is-simple {
        font: 700 22px/1.4 $sans-serif;
        color: #363636;
    }
}

.section-title-inner {
    font: 700 22px/1.4 $sans-serif;
    color: #363636;
    display: inline-block;
    width: 50%;
    margin-bottom: 20px;

    .popup & {
        width: 80%;
    }

    &:only-child {
        line-height: 2;

        &:after {
            content: '';
            display: block;
            width: 120px;
            margin: 0 auto;
            border-bottom: 1px solid $color-active;
        }
    }

    .is-profile & {
        line-height: 1;

        &:after {
            display: none;
        }
    }
}

.section-title-slogan {
    font-size: 12px;
    color: #959595;
    display: block;
    text-align: center;
    font-weight: 400;
    width: 60%;
    margin: 0 auto;

    &:after {
        content: '';
        display: block;
        width: 120px;
        margin: 30px auto 0;
        border-bottom: 1px solid $color-active;
    }

    .is-profile & {

        &:after {
            margin-top: 20px;
        }
    }
}

.section-content {
    background-color: #fafafa;
    padding: 40px 0 80px;
    width: 100%;

    &.is-white {
        background-color: #fff;
    }

    &.is-messages {
        padding: 0;
        flex: 1;
        display: flex;
        size: 100%;
    }
}

.section_form {
    margin: 0 auto 80px;
    width: 500px;
}

.section_cols {
    clear: fix;
    margin: 0 auto;
    width: 740px;
}

.section_col {
    float: left;
    margin: 0 10px;
    width: 350px;
}

.history {
    margin-bottom: 20px;
}