.payment {
	background-color: #efefef;
	padding: 25px 0 40px;
}

.payment_list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 0;
	text-align: center;
}

.payment_item {
	display: inline-block;
	vertical-align: top;
	width: 125px;
	font-size: 12px;
	margin-right: 15px;
	background-color: #fff;
	border-radius: 0 0 4px 4px;
	color: $nav-link;
	font-weight: 700;

	&:last-child {
		margin-right: 0;
	}
}

.payment_pic {
	border-radius: 4px 4px 0 0;
	background-color: #eee;
	height: 75px;
    line-height: 92px;
}

.payment_name {
	height: 30px;
	line-height: 30px;
}