.popup_overlay {
	position: fixed;
	size: 100% 100vh;
	max-height: 100vh;
	background-color: #000.42;
	z-index: -1;
	opacity: 0;
	top: 0;
	left: 0;
	transition: opacity 300ms ease;

	&.is-show {
		opacity: 1;
		z-index: 10;
	}
}

.popup {
	position: absolute;
	top: 50%;
	left: 50%;
	size: 580px 400px;
	margin: -200px 0 0 -290px;
	z-index: 11;
	background-color: #fff;
	box-shadow: 2.5px 4.33px 15px 0px rgba(0, 0, 0, 0.52);
	padding: 33px 45px 50px;
}

.popup_content {
	clear: fix;
	position: relative;
	size: 100%;

	&.is-border::before {
		content: '';
		position: absolute;
		border-right: 2px solid #e5e5e5;
		height: 100%;
		left: 50%;
		top: 0;
	}
}

.popup_close {
	position: absolute;
	right: 10px;
	top: 10px;
	size: 25px;
	background: inline('../../img/i-close.svg') center center no-repeat;
	background-size: contain;
	cursor: pointer;
}

.popup_title {
	color: #9297a3;
	font: 400 14px/18px $sans-serif;
	text-align: center;
	margin: 0 auto 25px;
	width: 80%;
}

.popup_form {
	width: 40%;
	float: left;
}

.popup_social {
	width: 40%;
	float: right;
}

.social_btn {
	size: 100% 32px;
	border-radius: 2px;
	margin-bottom: 10px;
	text-decoration: none;
	display: block;
	line-height: 32px;
	color: #fff;
	padding-left: 20%;

	&.is-vk {
		background: vkontakte-color;
	}
	&.is-fb {
		background: facebook-color;
	}
	&.is-ok {
		background: odnoklassniki-color;
	}
	&.is-twi {
		background: twitter-color;
	}
}

.social-btn_icon {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;

	&.is-vk {
		@mixin icon i-vk, 20px;
	}
	&.is-fb {
		@mixin icon i-fb, 20px;
	}
	&.is-ok {
		@mixin icon i-ok, 20px;
	}
	&.is-twi {
		@mixin icon i-twi, 20px;
	}
}

.divide {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -20px;
	margin-top: -20px;
	size: 45px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	border: 2px solid #e5e5e5;
	background-color: #fff;
	z-index: 10;
}

.popup_alt {
	position: absolute;
	bottom: 20px;
	text-align: center;
	width: 94%;
}

.popup_link {
	color: $bg-main;
	text-decoration: none;
	border-bottom: 1px solid;
	margin: 0 35px 0 0;
	transition: border-bottom-color 300ms ease,
				color 300ms ease;

	&:hover {
		border-bottom-color: transparent;
		color: $color-active;
	}
}
