.section_message {
	text-align: center;
	margin-bottom: 15px;

	&:after {
        content: '';
        display: block;
        width: 120px;
        margin: 0 auto;
        border-bottom: 1px solid $color-active;
    }
}
.section-message_link {
	text-decoration: none;
	color: $color-active;
	display: inline-block;
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 25px;

	&:hover {
		.section-message_text {
			border-bottom-color: transparent;
		}
	}

	.i-message {
		@mixin icon i-message-hov, 18px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;
	}
}

.section-message_text {
	display: inline-block;
	vertical-align: middle;
	border-bottom: 1px solid;
	line-height: 1;
	transition: border-bottom-color 300ms ease;
}

.user-info {
	text-align: center;

	p {
		margin: 0;
		line-height: 1.8;
		color: $small-text;
	}

	b {
		color: $base;
	}
}

.profile-info_text {
	padding-top: 20px;

	&:after {
        content: '';
        display: block;
        width: 120px;
        margin: 20px auto;
        border-bottom: 1px solid $color-active;
    }
}

.request-info {
	text-align: center;

	.form_btn {
		line-height: 38px;
		border-radius: 4px;
		display: inline-block;
		text-decoration: none;
	}
}

.request-info_text {
	color: #363636;
	font-weight: 600;
	font-size: 16px;
	margin-bottom: 10px;
}