.table_text {
	width: 100%;

	th {
		height: 45px;
		text-transform: uppercase;
		background-color: #fafafa;
		box-shadow: 2px 1.732px 2px 0px rgba(0, 0, 0, 0.28);
	}

	td {
		text-align: center;
		height: 90px;
		vertical-align: middle;
		font-weight: 600;
		width: 160px;
	}

	tr:nth-child(even) td {
		background-color: #d9d9d9;
	}
}

