doctype html
html lang="en"
    include head

    body
        .master
            include header
            include navigation

            main.main-content
                section.slider
                    .slider-view
                        ul.slider_list
                            li.slider_item.slide
                                img.slider_pic src="assets/img/pic-slide.jpg"
                                .slider_text
                                    h2.slide_title Новые скидки и новые условия в Black Desert
                                    .slide_text Получи до 20 кк внутриигровой валюты в подарок!
                        / ul.slider_nav
                        /     li.slider-nav_item
                        /         .slider-nav_text
                        / .slider_arr.arr-l
                        / .slider_arr.arr-r

                section.games
                    ul.actions_list
                        li.actions_item
                            a.actions_link
                                span.actions_icon.i-coins
                                span.actions_text Игровая валюта
                        li.actions_item
                            a.actions_link
                                span.actions_icon.i-values
                                span.actions_text Игровые ценности
                        li.actions_item.is-active
                            a.actions_link
                                span.actions_icon.i-driver
                                span.actions_text Услуги драйвера
                        li.actions_item
                            a.actions_link
                                span.actions_icon.i-wannabuy
                                span.actions_text Хочу купить
                        li.actions_item
                            a.actions_link
                                span.actions_icon.i-onetime
                                span.actions_text Разовая продажа
                    .actions_content
                        .actions_menu
                            .actions_types
                                a.actions-type.is-active href="#"
                                    span.actions-type_icon.i-cube
                                    span.actions-type_text Плиткой
                                a.actions-type
                                    span.actions-type_icon.i-list href="#"
                                    span.actions-type_text Списком
                        / .actions.is-list
                        /     .action_game
                        /         .action_letter
                        /         table.action_table
                        /             tr
                        /                 th
                        /                     span.game_title
                        /                 td
                        /                     span.game_info
                        .actions.is-cubes
                            a href="/"
                                img src="assets/img/pic-games.jpg"
                            / .action_game
                            /     img.action-game_pic
                            /     .action-game_info
                            /         .action-game_title
                            /         .action-game_text
                section.about
                    h3.section_title Почему мы?
                    ul.about_list
                        li.about_item
                            .about_pic.i-money
                            h4.about_title У нас выгоднее
                            .about_text Но, бывает, что в игре довольно непросто получить какие-либо бонусы самостоятельно, от чего приходится тратить много времени и сил.
                        li.about_item
                            .about_pic.i-safety
                            h4.about_title С нами безопаснее
                            .about_text Но, бывает, что в игре довольно непросто получить какие-либо бонусы самостоятельно, от чего приходится тратить много времени и сил.
                        li.about_item
                            .about_pic.i-sale
                            h4.about_title Система скидок
                            .about_text Но, бывает, что в игре довольно непросто получить какие-либо бонусы самостоятельно, от чего приходится тратить много времени и сил.

                section.payment
                    h3.section_title Мы принимаем
                    ul.payment_list
                        li.payment_item
                            .payment_pic
                                img src="assets/img/pic-qiwi.png"
                        li.payment_item
                            .payment_pic
                                img src="assets/img/pic-yad.png"
                        li.payment_item
                            .payment_pic
                                img src="assets/img/pic-visa.png"
                        li.payment_item
                            .payment_pic
                                img src="assets/img/pic-wm.png"
                        li.payment_item
                            .payment_pic
                                img src="assets/img/pic-mc.png"

            include footer

